header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 5px solid orange;
    
}

li{
    font-size: 18px;
    color:black;
    display: inline-block;
    margin: 10px;
    font-weight: bolder;
}
li:hover{
    color: orange;
    
}

